.top-banner {
	position:absolute;
	left:0;
	top:0;
	height:40px;
	line-height:40px;
	padding:0 30px;
	width:100%;
	font-size: 13px;
	background-color:#666;
	color: #fff;
	text-shadow: 1px 1px #333;
	box-shadow: 0 1px 0 #999;
}
.top-banner a {
	color: #fff;
	text-decoration: none;
}
