
/* Core Style */
/**********************************/
body {
	color: #666;
	/*font: 13px tahoma, arial, 'Microsoft YaHei', \5b8b\4f53;*/
	line-height: 1.62;
}
.container {
	width: 800px;
	margin: 0 auto;
}
.form-line {
	height: 35px;
	margin-bottom: 15px;
}
.form-line label {
	width: 100px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}
.btn {
	font-family: 'Microsoft YaHei';
}
a {
	color: #333;
}
#content {
	margin: 30px 0;
}
.login-page .logo {
	width: 350px;
	margin: 0 auto;
	text-align: center;
}
.login {
	width: 350px;
	margin: 0 auto 100px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 12px;
	margin-top: 260px;
}
.login-page {
	background-image: url('../img/bg-10.jpg');
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-color: #fff;
}
.form-signin {
	padding: 30px 30px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	border-top: none;
	/*box-shadow: 0 2px 2px rgba(0,0,0,.1);*/
}
.form-signin input {
	width: 260px;
}
.login .login-tab {
	height: 55px;
	background-color: #fff;
}
.login-tab .item {
	width: 50%;
	text-align: center;
	line-height: 55px;
	background-color: #eee;
	cursor: pointer;
	font-family: 'Microsoft YaHei';
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #E65402;
	text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}
.login-tab .active {
	background-color: #fff;
	/*text-shadow: none;*/
}
#btn-login {
	width: 288px;
	height: 40px;
	font-size: 16px;
	letter-spacing: 5px;
	background-color: #E65402;
	border: none;
	margin-top: 10px;
	font-weight: bold;
	text-shadow: 1px 1px 3px #000;
}
#btn-login:hover {
	text-shadow: 1px 1px 6px #000;
}
#footer p{
	text-align: center;
	height: 60px;
	line-height: 60px;
	color: #fff;
}
/* 后台 */
.manage-container {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
}
#manage {
	background-image: url('../img/bg.png');
}
#manage-header .manage-container {
	margin-top: 30px;
	border-radius: 3px;
}
#manage-header .h1{
	padding: 30px;
	font-size: 50px;
	font-family: 'Microsoft YaHei';
}
#manage-header .cmd-bar{
	margin-top: 90px;
	margin-right: 30px;
}
#content .manage-container {
	height: 800px;
	border-radius: 3px;
}
#manage .nav {
	width: 120px;
	height: 740px;
	padding: 30px;
	margin-right: 30px;
	background-color: #eee;
	border-radius: 3px;
}
#manage .nav li {
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	margin-bottom: 5px;
	background-color: #eee;
}
#manage .nav li:hover {
	background-color: #ddd;
}
#manage .nav .active {
	background-color: #47a447;
}
#manage .nav .active a{
	color: #fff;
}
#manage .main {
	margin: 30px 0;
}
#manage iframe {
	width: 750px;
	height: 700px;
}
.iframe #content {
	margin: 0;
}
.iframe #content .manage-container {
	width: auto;
	margin: 0;
	height: auto;
}
.iframe table {
	width: 100%;
}
.iframe .add-des {
	height: auto;
}
.iframe .add-file input{
	display: inline-block;
}
.iframe textarea {
	height: 100px;
	width: 350px;
}
.iframe select {
	height: 30px;
	width: 100px;
	font-size: 15px;
}
.iframe .article table td {
	height: 50px;
	vertical-align: middle;
}
#manage .add-oper {
	text-align: right;
	padding-right: 30px;
}

/* 首页样式 */

.index {
	background-image: url('../img/bg.png');
}
.index .container {
	color: #fff;
}
.index #nav {
	text-align: right;
	height: 50px;
	line-height: 50px;
	font-size: 13px;
}
.index #nav .item {
	margin-left: 10px;
}
.index #nav .item a{
	color: #fff;
}
#site-title {
	text-align: center;
}
#site-title h1 {
	font-size: 150px;
	font-family: 'Microsoft YaHei';
	letter-spacing: 10px;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
.index #nav .tab {
	width: 100px;
	background-color: #aaa;
	display: none;
}
.index #nav .tab li {
	text-align: center;
	height: 25px;
}
.index #nav .tab a {
	color: #fff;
}


/* shining button */
.button {
    min-height: 1.5em;
    display: inline-block;
    padding: 12px 36px;
    cursor: pointer;
    opacity: 0.9;
    
    color: #FFF;
    font-size: 1em;
    letter-spacing: 1px;
    text-shadow: rgba(0,0,0,0.9) 0px 1px 2px;
    
    background: #434343;
    border: 1px solid #242424;
   
    -webkit-border-radius: 4px;
     -khtml-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
     -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -webkit-transition: all 0.1s linear;
     -khtml-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
}
.button:hover {
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
     -khtml-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}
.button:active {
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px,inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
     -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px,inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}
.shine {
    display: block;
    position: relative;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    padding: 0px 12px;
    top: -12px;
    left: -24px;
    height: 1px;
    -webkit-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
     -khtml-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
       -moz-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
         -o-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
            box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
    -webkit-transition: all 0.3s ease-in-out;
     -khtml-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.button:hover .shine {left: 24px;}
.button:active .shine {opacity: 0;}