
body{
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
}
#popup {
	position:fixed;
	bottom:0;
	left:0;
	z-index:999;
	width:100%;
	height:60px;
	background-color:#5E87B0;;
	color:#fff;
	font-family: Helvetica,Arial,sans-serif;
	opacity:0.95;
	display:none;
	padding-top:20px;
	text-shadow: 0 1px 1px #aaa;
	background-image: -webkit-linear-gradient(#6facd5,#497bae);
	background-image: -moz-linear-gradient(#6facd5,#497bae);
	background-image: -ms-linear-gradient(#6facd5,#497bae);
	background-image: -o-linear-gradient(#6facd5,#497bae);
	background-image: linear-gradient(#6facd5,#497bae);
}

#popup a{
	color:#333;
	text-decoration:none;
	display:inline-block;
	padding:10px 30px;
	margin:5px 0 5px 25px;
	background-color:#fff;
	border-radius: 10px;
}